<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Error 404: Route not found!</h1>
        <p>Please try again or choose a link above.</p>
        <link rel="icon" href="/img/weather.png">
    </div>
    {{>footer}}
</body>
</html>