<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Chase Buhler. It uses the mapbox API to geocode your search terms, that is, 
            translate your search terms into a real location, and then get the lat/lon for that location. The app then
            passes the discovered lat and lon over to weatherstack.com's API. This returns the current forecase for
            the given location. Thanks for stopping by!
        </p>
    </div>
    {{>footer}}
</body>
</html>